<p-dataTable [value]="ingredients" [selectionMode]="!readOnlyTable ? 'single' : null" [(selection)]="selectedIngredient"
             (onRowDblclick)="editIngredient(selectedIngredient)" paginator="true" [alwaysShowPaginator]="false"
             rows="5" responsive="true">
  <p-header *ngIf="!readOnlyTable">
    <p>List of ingredients<span>*</span></p>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="addNewIngredient()" label="Add"></button>
      <button type="button" pButton icon="fa-edit" style="float:left" (click)="editIngredient(selectedIngredient)"
              label="Edit" [disabled]="!selectedIngredient"></button>
      <button type="button" pButton icon="fa-trash" style="float:left" (click)="openConfirmationDialog()" label="Delete"
              [disabled]="!selectedIngredient"></button>
    </div>
  </p-header>
  <p-column field="name" header="Name" [sortable]="!readOnlyTable"></p-column>
  <p-column field="quantity" header="Quantity" [sortable]="!readOnlyTable"></p-column>
  <p-column field="quantityTypeName" header="Type" [sortable]="!readOnlyTable"></p-column>
  <p-column field="energy" header="Energy" [sortable]="!readOnlyTable"></p-column>
</p-dataTable>

<app-new-modify-ingredient #newModifyIngredientPopup [recipeId]="recipeId"
                           (newRecipeNewIngredient)="addNewIngredientToTheList($event)"
                           (newRecipeModifiedIngredient)="addModifiedIngredientToTheList($event)"
                           (savingFinished)="handleSavingFinished()"></app-new-modify-ingredient>
