#calculator-footer {
  display: flex;
  justify-content: space-between;
  button {
    width: 120px;
  }
}

#pdf-button-container {
  display: flex;
  justify-content: center;
}

.ui-button-text {
  width: 20%!important;
}

.step-title {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  justify-content: center;
}

h2 {
  color: black;
  text-align: center;
}

p-selectButton {
  width: 100% !important;
  .ui-button {
    width: 20% !important;
  }
}
