<p-sidebar [(visible)]="display" position="left" [baseZIndex]="10000">
  <div class="ui-md-12">
    <h2>Menu</h2>
  </div>
  <nav>

    <!--Introduction-->
    <a routerLink="/introduction" routerLinkActive="active" (click)="hideSidebar()">
      <div class="ui-md-12 ui-g-12">
        <p>Introduction</p>
        <span class="glyphicon glyphicon-info-sign"></span>
      </div>
    </a>

    <!--Recipes-->
    <a routerLink="/recipes" routerLinkActive="active" (click)="hideSidebar()">
      <div class="ui-md-12 ui-g-12">
        <p>Recipe list</p>
        <span class="glyphicon glyphicon-list-alt"></span>
      </div>
    </a>

    <!--Serving calculator-->
    <a routerLink="/serving-calculator" routerLinkActive="active" (click)="hideSidebar()">
      <div class="ui-md-12 ui-g-12">
        <p>Serving calculator</p>
        <span class="glyphicon glyphicon-calendar"></span>
      </div>
    </a>

    <!--Statistics-->
    <a routerLink="/statistics" routerLinkActive="active" (click)="hideSidebar()">
      <div class="ui-md-12 ui-g-12">
        <p>Statistics</p>
        <span class="glyphicon glyphicon-signal"></span>
      </div>
    </a>

  </nav>
</p-sidebar>
