.active {
  div {
    background-color: brown;
  }
}

.container {
  margin-top: 25px;
}

.menu-icon {
  background-color: brown;
}

a {
  div {
    align-items: center;
    background-color: #459e00;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px green;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.4em;
    justify-content: space-between;
    margin: 5px 0 5px;
    &:hover {
      background-color: brown;
    }
    p {
      margin: 0;
    }
  }
}

hr {
  color: black;
}

h2 {
  border-bottom: 1.5px solid grey;
}
