<div class="ui-g wrapper">
  <div class="ui-md-12 ui-g-12">
    <h1 class="page-title">Introduction</h1>
  </div>
  <div id="information-container" class="ui-md-12 ui-g-12">
    <p class="main-information">Welcome to the Recipe Registry. This site helps you to manage your recipes.</p>
    <p>Here you can:</p>
    <p><span class="glyphicon glyphicon-cog"></span> Add, edit or remove recipes</p>
    <p><span class="glyphicon glyphicon-search"></span> Search in recipes (global and local search)</p>
    <p><span class="glyphicon glyphicon-calendar"></span> Calculate meal servings</p>
    <p><span class="glyphicon glyphicon-save"></span> Download your calculated recipe in PDF</p>
    <p><span class="glyphicon glyphicon-signal"></span> Check out the recipe statistics</p>
  </div>
</div>
